.card-container{
    padding: .5rem;
    margin: 2rem;
    background: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.card-container img{
    width: 280px;
}

.card-content-container {
    margin: .2rem;
    padding: .2rem;
    color: white;
}
.card-content-container a{
    text-decoration: none;
    color: whitesmoke;
}