*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: #000;
    margin: 0;
    color: whitesmoke;
}
.nav-container ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 20px;
}
.nav-container ul {
    list-style-type: none;
}
.Nav-Ele li{
    padding: 1rem;
}
.Nav-Ele li a{
    text-decoration: none;
    color: whitesmoke;
}

.Nav-Ele li:hover{
    background: dodgerblue;
    border-radius: 5px;
}
.submit-btn-container{
    display: flex;
    justify-content: center;
}
.submit-btn{
    padding: 1rem;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}
.title{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: .5rem;
}